
main .rsvp {
    --text-color: var(--heading-color);

    color: var(--text-color);
    border-radius: 32px;
    border: 2px solid currentcolor;
    padding: 32px;
    font-size: 20px;
}

/* class applies to select element itself, not a wrapper element */
main .rsvp select {
    display: block;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
    color: #BCEB23;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    border: 2px solid currentcolor;
    /* stylelint-disable-next-line color-function-notation */
    box-shadow: 0 1px 0 1px rgba(0,0,0 4%);
    border-radius: .5em;
    appearance: none;
    background-color: #8e6497;
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }

main .rsvp select:hover {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23BCEB23%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #8e6497 0%, #9e74a7 100%);
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .rsvp select:focus {
    border-color: #BCEB23;
    /* stylelint-disable-next-line color-function-notation */
    box-shadow: 0 0 1px 3px rgba(59, 153, 252 70%);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #BCEB23; 
    outline: none;
  }
  
  /* Set options to normal weight */
  .rsvp select option {
    font-weight:normal;
  }
  
  .rsvp select:disabled:hover, .select-css[aria-disabled=true] {
    border-color: #aaa;
  }

main .rsvp input[type="text"] {
    border: 0;
    border-bottom: 2px dashed currentcolor;
    border-radius: 0;
    margin-bottom: 32px;
}

main .rsvp input[type="submit"], main .rsvp input[type="button"] {
    border-radius: 0.5em;
    font-weight: 800;
    border: 2px solid var(--heading-color);
    padding: 16px 32px;
}

main .rsvp input[type="submit"], main .rsvp input[type="button"]:hover {
    background-color: var(--heading-color);
    color: var(--background-color);
}

/* stylelint-disable-next-line no-descending-specificity */
main .rsvp input[type="button"], main .rsvp input[type="submit"]:hover {
    background-color: var(--background-color);
    color: var(--heading-color);
}


main .rsvp-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    gap: 32px;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
}


@media (min-width: 600px) {
    main .rsvp-buttons {
        flex-direction: row;
    }
}



