textarea {
    width: 100%;
    height: 50%;
    margin: 32px 0;
}
select, button {
    padding: 10px 30px;
}
#logger {
    font-family: 'Courier New', Courier, monospace;
}
p{
    margin: 5px;
}

p[class^="s-2"],
p[class^="s-3"] {
    background-color: lightgreen;
}
p[class^="s-4"] {
    background-color: lightcoral;
}
p[class^="s-5"] {
    background-color: orangered;
}
p.s-unknown {
    background-color: white;
}
