:root {
  --light-green: #adf4ce;
  --medium-green: #49cc93;
  --dark-green: #00653e;

  --light-orange: #ffdfad;
  --medium-orange: #ffa037;
  --dark-orange: #cb5d00;

  --light-red: #ffddd6;
  --medium-red: #ff7c65;
  --dark-red: #b40000;

  --light-blue: #cae8ff;
  --medium-blue: #78bbfa;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: auto;
    margin-top: 32px;
  }
  header {
    display: none;
  }

.key-metrics ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
  padding-left: 0;
}

.key-metrics li h2 {
  font-size: 14px;
}

.key-metrics li h2::before {
    content: ' ';
    background-color: currentcolor;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    display: inline-block;
    border-radius: 14px;
}

.key-metrics li p {
  font-weight: 600;
  font-size: 30px;
}

.key-metrics li {
  border: 1px solid currentcolor;
  border-radius: 16px;
  background-color: #eee;
  padding: 0 16px;
}

fieldset {
 padding: 8px 0 0; 
}

legend {
  margin-left: 16px;
}

fieldset > div {
  padding: 0 16px;
}

fieldset > div:hover {
  background-color: #eee;
}

fieldset li {
  border: 1px solid currentcolor;
  border-radius: 16px;
  background-color: #eee;
  padding: 4px 16px;
  text-align: end;
}

fieldset li::after {
  content: ' ';
  background-color: currentcolor;
  width: 10px;
  height: 10px;
  margin-left: 8px;
  display: inline-block;
  border-radius: 14px;
}

li.score-good {
  color: var(--dark-green);
  background-color: var(--light-green);
}

li.score-ni {
  color: var(--dark-orange);
  background-color: var(--light-orange);
}

li.score-poor {
  color: var(--dark-red);
  background-color: var(--light-red);
}

#facets ul.cwv {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 16px;
  padding-left: 0;
}

#facets fieldset div {
  display: grid;
  grid-template-columns: 20px 1fr 350px;
  align-items: center;
  grid-gap: 16px;
}

#low-data-warning {
  color: red;
  display: inline-flex;
  align-items: center;
  align-self: end;
}

#timezone::before {
  content: 'Timzone: ';
}

.danger-icon {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(1);
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 40px;
  margin-right: 5px;
}

.danger-icon::after,
.danger-icon::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  background: currentColor;
  left: 7px;
}

.danger-icon::after {
  top: 2px;
  height: 8px;
}

.danger-icon::before {
  height: 2px;
  bottom: 2px;
}

figcaption {
  margin-top: 8px;
  text-align: right;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: end;
}

figcaption > span {
  display: inline-flex;
  height: 40px;
  align-items: center;
}

figure {
  margin-bottom: 16px;
}

#low-data-warning[aria-hidden=true] {
  display: none;
}

#facets input[type=checkbox] {
  height: 20px;
  width: 20px;
}

#facets div[aria-selected=true] {
  background-color: var(--light-blue)
}

#facets div[aria-selected]:hover {
  background-color: #eee;
}


